/* Reset CSS */
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
html{
    font-family: Arial, Helvetica, sans-serif;
    scroll-behavior: smooth;
}
/*
1.Từ ngoài vào trong
2.Trên xuống dưới
3.Tổng quan đến chi tiết 
 */
/* 
1.Vị trí
2.Kích thước
3.Màu sắc
4.Kiểu dáng

*/
.text-white{
    color: white !important;
}
.clear{
    clear: both;
}
#main{

}

#header{
    height: 46px;
    background-color:black ;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1;
 
}
#nav {
    display: inline-block;
}
#nav,.subnav{
    list-style-type: none;

}
#nav >li{
    display: inline-block;
}
#nav li{
   
    position: relative;
   
}
#nav >li> a{
    text-transform: uppercase;
    color:white;

}

#nav li a{

    text-decoration: none;
    line-height: 46px;
    padding: 0px 24px;
    display: block; 
}
 #nav li:hover .subnav{
    display: block;

}
#nav > li:hover > a,#nav .subnav li:hover a{
    color: black;
    background-color: #ccc;
  
}

 #nav .subnav{
    top: 100%;    
    left: 0;
    display: none;
    min-width: 160px;
    position: absolute;
    background-color: #fff ;
    box-shadow: 0 0 10px rgba(0,0,0,0.3) ;
}
#nav .subnav a{
    color: black;
    padding: 0 12px;
    line-height: 38px;

}
#nav .nav-down{
    font-size: 12px;
}
#header .search-btn:hover {
    background-color: #f44336;
    cursor: pointer;
}
#header .search-btn{

    float: right;
    padding: 0 24px;
    
}
#header .search-ic{
    font-size: 14px;
    color:white;
    line-height: 46px;
}
#slider{
    position:relative ;
    margin-top: 46px;
    padding-top: 50%;
    background: url(/W3_Band/asset/img/slider/slider1.jpg) top center / cover no-repeat;

  
}
#slider .slider-content{

     position: absolute;
     bottom: 47px;
     width: 100%;
     text-align: center;


}

#slider .slider-heading{
  
    color: white;

}

#slider .text-cription{
    margin-top: 25px;
    color: white;
}

#content{
 
 
}
#content .content-section{
    padding: 64px 16px;
    width: 800px;
    max-width: 100%;
    margin-right: auto;
    margin-left: auto;
 
    
}
#content .content-heading{
    margin-top: 10px;
    font-size: 30px;
    text-align: center;
    font-weight: 400;
    letter-spacing: 4px ;
    

} 
#content .content-sub-heading{
    text-align: center;
    font-size: 15px;
    margin-top: 25px;
    font-style: italic;
    opacity: 0.6;
}
#content .about{
    margin-top: 25px;
    text-align: justify;
    line-height: 1.4;
    font-size: 15px;
}
#content .member-list{
   margin-top: 48px;
}
#content .member-item{
    float: left;
    text-align: center;
    width: 33.33333%;
}
#conten .member-name{

}
#content .member-img{

    margin-top: 15px;
    border-radius: 4px;
    width: 154px;

}
.tour-list{
    background-color: black;
    
}
.ticker-list{
    background-color: white;
    margin-top: 40px;
    list-style-type: none;

}
.ticker-list li{
    font-size: 15px;
    padding: 8px 16px;
    border-bottom: 1px solid  #ddd ;
    color: #757575;
}
.ticker-list .sold-out{
    background-color:#f44336 ;
    color: white;
    padding: 3px 7px;
    margin-left:18px ;
}
.ticker-list .quanlity{
    background-color: black;
    border-radius: 50%;
    color: white;
    float: right;
    text-align: center;
    width: 24px;
    height: 22px;
    line-height: 22px;
    margin-right: 18px ;
    margin-top: -2px;
}
#content .places-list{
    margin: 32px -8px 0;
    padding-bottom: 48px;

}

#content .place-item{
     float: left;
     width: 33.33333%;
     padding: 0 8px;

}
.place-img{
     width: 100%;
     display: block;
}
.place-img:hover{
     opacity: 0.6;
}
.place-body{
    font-size: 15px;
    padding: 16px;
    background-color: white;

}
.place-heading{
    font-size: 15px;
    color: black;
    font-weight: 700;
}
.place-time{
    margin-top:15px ;
    color: #757575;
}
.plave-des{
    margin-top:15px ;
    line-height: 1.4;
}
.place-buy{
    background-color: black;
    color: white;
    text-decoration: none;
    padding: 8px 16px;
    display: inline-block;
    margin-top: 15px;
    border: 1px solid black;
    
}
.place-buy:hover{
    background-color: #ccc;
    color: black; 
     border: 1px solid #ccc;
     cursor: pointer;
}
.modal{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.4);
    display: none;
    align-items: center;
    justify-content: center;
 
}
.modal.open{
    display: flex;
}
.modal-container{
    background-color: #fff;
    width: 900px;
    max-width: calc(100% - 40px);
    min-height: 200px;
    position: relative;
 
    animation: modalFaceIn ease 0.5s;
    
}
.modal-container .modal-close{
    color: white;
    position:absolute;
    right: 0;
    top: 0;
    padding: 16px;
    opacity: 0.8;
}
.modal-container .modal-close:hover{
    background-color:#fff ;
    color: black;
    
}

.modal-container .modal-header{
    background-color:  #009688;
    color: white;
    height: 130px;
    text-align: center;
    line-height: 130px;
    font-size: 30px;
    letter-spacing: 5px;
    
}
.modal-container .modal-body{
    padding: 16px;
    font-size: 15px;
}
.modal-lable{
    display: block;
    margin-bottom: 15px;
}
.modal-input{
    border: 1px solid #ccc;
    width: 100%;
    font-size: 15px;
    padding: 8px;
    margin-bottom: 15px;

}
.modal-body #buy-tickets{
    width: 100%;
    height: 55px;
    color: white;
    text-align: center;
    background-color: #009688; 
    border: 1px solid  #fff;
    padding: 18px;
    font-size: 15px;
    cursor: pointer;
}
.modal-body #buy-tickets:hover{
    background-color: #ccc;
    color: black;

}
.modal-footer{
    padding: 16px;
    text-align: right;
    font-size: 15px;
}

.modal-footer a{
    color: #2196F3
}
@keyframes modalFaceIn {
    from{
        opacity: 0;
        transform: translateY(-150px);

    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}
.row{
    margin-left: -8px;
    margin-right: -8px;

}
.row::after{
    content: "";
    display: block;
    clear: both;
}
.col{
    float: left;
    padding-left: 8px;
    padding-right: 8px;
}
.col-half{
    width: 50%;
}
.col-full{
    width: 100%;
} 
.contact-content{
    margin-top: 48px;
    margin-bottom: 32px;
}
.contact-info a{
   color: #101aef;
   opacity: 0.8;
}
.contact-info:hover a{
    opacity: 1;
}
.contact-info{
    font-size: 18px;
    line-height: 1.5;
}
.contact-info i[class*="ti-"]{
    width: 30px;
    display: inline-block;

}
.contact-form{
    font-size: 15px;
}
 .form-control{
  padding:10px;
  width: 100%;

}
.mt-8{
    margin-top: 8px !important;
}
.contact-send{

    text-transform: uppercase;
    float: right;
    color: white;
    padding:12px 16px ;
    background-color: black;
    margin-top: 16px;
    border: 0px solid black;
    letter-spacing: 1px;
    font-weight: 800px;

}
.contact-send:hover{
    background-color: #ccc;
    color: black;
    cursor: pointer;
   
}
.map-section img{
    width: 100%;
}
.contact-link {
    color: black;
    margin-top: 15px;
    font-size: 15px;
    opacity: 0.5;
    text-decoration: none;
    
 
}

.contact-social a {
    color: black;
    text-decoration: none;
    font-size: 24px;
    text-decoration: none;
    opacity: 0.5;
}
.contact-social a:hover{
  opacity: 0.3;
}
#footer{
    padding: 64px 16px ; 
    text-align: center;

    
}
#header .mobile-menu:hover {
    background-color: #ccc;
  
} 
#header .mobile-menu:hover .ti-menu{
    color: black;
}
#header .mobile-menu{

    float: right;
    padding: 0 24px;
    position: absolute;
    top: 0;
    right: 0;
    display: none;
    
}
#header .ti-menu{
    font-size: 14px;
    color:white;
    line-height: 46px;
}

#header.openmenu{
    
height: auto;
background-color:black ;
position: fixed;
top: 0;
left: 0;
right: 0;
z-index: 1;
overflow: hidden;
}

/* 
    PC: >= 1024px
    IPAD: >=  740px & < 1024px
    MOBILE:  <740px
*/
/* PC */
@media (min-width:1024px){

}
/*Tablet */
@media (min-width:740px ) and (max-width:1023){

}
/* Mobile */
@media (max-width:739px){
    #header{
        height: 46px;
        background-color:black ;
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        z-index: 1;
        overflow: hidden;
     
    }
    #nav .subnav{
        position: initial;
        background-color: #333;
    }
    #nav .subnav a{
        color: #ccc;
        padding: 5px 41px;
    }
    #nav{
        display: block;
    }
     #nav>li{
        display: block;
    } 
    #nav >li:first-child{
        display: inline-block;
    }
    #header .search-btn{
        display: none;
    }
    #header .mobile-menu{
        display: block;
    }
    #content .member-item{
        margin-top: 30px;
        width: 100%;
    }
    #content .member-img{
        width: 60%;
    }
    #content .place-item{
        width: 100%;
        margin-top: 16px;
    }
    .col-half{
        width: 100%;
    }
    .contact-form{
       margin-top: 16px;
    }
    .s-mt-8{
        margin-top: 8px;
    }
    .contact-send{
        width: 100%;
        height: 80px;
    }
    .place-buy{
        width: 100%;
        
    }
    
  
    

}